.editor,
.editor-quill,
.editor .ql-editor {
  min-height: inherit;
  font-family: "Inter", sans-serif;
  color: var(--text-color, inherit);
  position: relative;
}
.editor .ql-editor {
  position: relative;
  height: 100%;
}
.editor-quill {
  flex-grow: 1;
  font-size: medium;
}
.loaded .ql-spinner {
  display: none;
}
.ql-spinner {
  text-align: center;
  position: absolute;
  z-index: 5;
  right: 50%;
  transform: translateX(50%);
}
.editor.view-only .editor-quill .ql-editor > * {
  cursor: auto !important;
}
.editor .ql-editor {
  overflow: visible;
  height: 100%;
  padding: 0;
}
.ql-container.ql-bubble:not(.ql-disabled a::before),
.ql-container.ql-bubble:not(.ql-disabled a::after) {
  word-break: keep-all;
  max-width: min(300px, 60vw);
}
.editor-quill .ql-tooltip {
  z-index: 5;
}
.editor-quill .ql-tooltip {
  transform: translateY(20px);
}
.editor-quill .ql-tooltip.ql-flip {
  transform: translateY(-20px);
}
.editor .ql-editor p {
  word-break: break-word !important;
}
.editor .ql-container a {
  white-space: normal !important;
  word-break: break-word !important;
  color: var(--a-color, rgb(249, 102, 128));
  cursor: pointer;
}
.editor .ql-bubble .ql-toolbar .ql-formats {
  margin-right: 8px;
}
.editor .ql-bubble .ql-picker-label {
  padding-left: 0px;
}
.editor .ql-container a:visited {
  color: var(--a-visited-color, #eb0f37);
}
.editor .ql-editor :not(blockquote) + blockquote {
  margin-top: 10px;
}
.editor .ql-editor blockquote + :not(blockquote) {
  margin-top: 10px;
}
.editor .ql-editor blockquote {
  margin-bottom: 0px;
  margin-top: 0px;
  border-left: 5px solid #e6e6e9;
  margin-left: var(--text-padding, 10px);
  margin-right: var(--text-padding, 10px);
}
.editor .ql-editor h1 {
  font-size: 32px;
  line-height: 38px;
}
.editor .ql-editor h2 {
  font-size: 24px;
  line-height: 30px;
}
.editor .ql-editor h3 {
  font-size: 19px;
  line-height: 25px;
}
.editor .ql-editor h1,
.editor .ql-editor h2,
.editor .ql-editor h3 {
  margin-bottom: 4px;
  font-weight: normal;
  padding-left: var(--text-padding, 10px);
  padding-right: var(--text-padding, 10px);
}
.editor .ql-editor ul,
.editor .ql-editor ol {
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: calc(var(--text-padding, 10px) + 5px);
  margin-right: calc(var(--text-padding, 10px) + 5px);
}
.editor .ql-bubble .ql-editor pre.ql-syntax,
.editor .ql-bubble .ql-editor code {
  background-color: #e6e6e9;
  color: black;
  border-radius: 8px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: small;
}
.editor .ql-editor h1:first-child,
.editor .ql-editor h2:first-child,
.editor .ql-editor h3:first-child,
.editor .ql-editor p:first-child {
  padding-top: var(--text-padding, 10px);
}
.editor .ql-editor p {
  padding-left: var(--text-padding, 10px);
  padding-right: var(--text-padding, 10px);
}
.editor .ql-editor p:not(p:not(h1):not(h2):not(h3) + p) {
  padding-top: var(--text-padding, 5px);
}
.editor .ql-editor p.empty:not(:last-child) {
  line-height: 10px;
}
.editor .ql-editor p:last-child {
  padding-bottom: var(--text-padding, 10px);
}
.editor.view-only p.empty:last-child {
  display: none;
}
.editor.single-line img {
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
.editor.single-line .ql-block-image {
  margin: 0;
}
.editor .ql-editor blockquote:first-child {
  margin-top: 5px;
}
.editor .ql-editor blockquote:last-child {
  /*
   Without this, the margin collapses and leaves a blank
   space on backgrounds wrapping the editor. 
   */
  display: inline-block;
  margin-bottom: 5px;
}
