.tooltip:global(.ql-tooltip) {
  position: absolute;
  z-index: 5;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  transform: translateY(-5px);
}
.tooltip :global(button img) {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(91%)
    contrast(94%);
  max-width: 100%;
  max-height: 100%;
}
.tooltip :global(button:hover img) {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(126deg)
    brightness(105%) contrast(105%);
}
.hidden {
  display: none !important;
}
:global(.ql-tumblr) {
  padding: 4px 7px;
  margin-top: 1px;
}
