.editor .ql-embed.loading a {
  color: white !important;
}
.editor .ql-embed .error-message {
  width: 100%;
  background-color: rgb(255, 15, 75);
  text-align: center;
  line-height: 25px;
  color: white;
  padding: 10px;
  margin: 10px 0;
}
.editor .ql-embed .error-message a {
  color: white !important;
}
.editor .ql-embed.ios-bug .error-message {
  width: 100%;
  height: 150px;
  background-color: black;
  text-align: center;
  line-height: 25px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  padding: 20px;
  margin: 10px 0;
}
.editor .ql-embed.ios-bug > img {
  position: absolute;
  width: 50px;
  left: 10px;
  top: 10px;
}
.editor .tweet .loading-message {
  width: 100%;
  min-height: 50px;
  background-color: #1da1f2;
  margin: 10px 0;
  text-align: center;
  line-height: 50px;
  color: white;
  position: relative;
}
.editor .twitter-tweet-rendered {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: black;
}
.editor .ql-embed {
  text-align: center;
  position: relative;
}
.editor .best-effort {
  text-align: left;
}
.editor .ql-tiktok-embed {
  color: black;
  text-align: left;
}
.editor .ql-tiktok-embed *:not(p) > a[title] {
  font-weight: bold;
}
.editor .ql-embed:not(.ql-tiktok-embed) a {
  color: white;
  cursor: pointer;
}
.editor .ql-embed:not(.ql-tiktok-embed) a:hover {
  color: white;
  cursor: pointer;
}
.editor .ql-block-image {
  margin: 2px 0;
  object-fit: contain;
  height: auto;
}
.editor .ql-block-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.editor .ql-block-image.loading {
  width: 100%;
  min-height: 100px;
}
.editor .ql-block-image.loading .spinner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff5858,
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.7),
      1.8em -1.8em 0 0em #ff5858, 2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.5),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.7), 2.5em 0em 0 0em #ff5858,
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.5),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.7), 1.75em 1.75em 0 0em #ff5858,
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.5),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.7), 0em 2.5em 0 0em #ff5858,
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.5),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.7), -1.8em 1.8em 0 0em #ff5858,
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.7), -2.6em 0em 0 0em #ff5858,
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.5),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.7), -1.8em -1.8em 0 0em #ff5858;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff5858,
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.7),
      1.8em -1.8em 0 0em #ff5858, 2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.5),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.7), 2.5em 0em 0 0em #ff5858,
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.5),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.7), 1.75em 1.75em 0 0em #ff5858,
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.5),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.7), 0em 2.5em 0 0em #ff5858,
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.2),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.5),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.7), -1.8em 1.8em 0 0em #ff5858,
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.7), -2.6em 0em 0 0em #ff5858,
      -1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 88, 88, 0.2),
      1.8em -1.8em 0 0em rgba(255, 88, 88, 0.2),
      2.5em 0em 0 0em rgba(255, 88, 88, 0.2),
      1.75em 1.75em 0 0em rgba(255, 88, 88, 0.2),
      0em 2.5em 0 0em rgba(255, 88, 88, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 88, 88, 0.5),
      -2.6em 0em 0 0em rgba(255, 88, 88, 0.7), -1.8em -1.8em 0 0em #ff5858;
  }
}
.editor .ql-block-image.error {
  width: 100%;
  height: 100px;
  background-color: red;
  content: "Error! Error!";
  color: white;
  text-align: center;
}
.editor .ql-block-image.error::after {
  content: "Error! Error!";
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.editor .ql-youtube-video.loading {
  background-color: #ff0000;
}
.editor .ql-youtube-video {
  text-align: center;
  margin: 10px 0;
}
.editor .ql-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.editor .ql-tiktok-embed.loading {
  background-color: aquamarine;
  padding: 30px;
  text-align: center;
  color: white;
  height: 80px;
  /*
     * Figure out how to readd overflow hidden to this
     */
}
blockquote.tiktok-embed {
  margin: 0 auto !important;
  padding: 0 !important;
  border: none !important;
}
.editor .ql-youtube-video .loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editor .ql-tiktok-embed.loading .loading-message {
  position: relative;
  margin-bottom: 50px;
}
.editor .tiktok-video {
  white-space: normal;
}
.editor .tiktok-video blockquote {
  border-left: 0 !important;
  padding: 0 !important;
}
.editor .ql-tumblr-embed.loading {
  background-color: #34526f;
  text-align: center;
  color: white;
  min-height: 80px;
  /*
     * Figure out how to readd overflow hidden to this
     */
}
.editor .ql-tumblr-embed iframe {
  margin: 3px auto !important;
}
.editor .ql-tumblr-embed .loading-message {
  position: relative;
  margin-bottom: 50px;
}
.editor .embed-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.editor .close-button {
  width: 35px;
  height: 35px;
  background-color: #444;
  position: absolute;
  border: 3px solid #ccc;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  pointer-events: all;
  z-index: 2;
}
.editor .close-button img {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(91%)
    contrast(94%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
.editor .close-button:hover {
  border-color: white;
  cursor: pointer;
}
.editor .close-button:hover img {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(126deg)
    brightness(105%) contrast(105%);
}
.editor.view-only .close-button {
  display: none;
}
.editor .ql-editor .inline-spoilers {
  padding: 1px;
  border: 1px dashed black;
  background-color: #e6dede;
}
.editor.view-only .inline-spoilers:not(.visible) code {
  background-color: black !important;
}
.editor .ql-editor .inline-spoilers:hover {
  cursor: pointer;
}
.editor.view-only .inline-spoilers {
  background-color: black;
}
.editor.view-only .inline-spoilers:not(.visible),
.editor.view-only .inline-spoilers:not(.visible) * {
  color: transparent !important;
  text-decoration-color: transparent !important;
}
.editor.view-only .inline-spoilers.visible {
  background-color: transparent;
  color: inherit;
}
.editor.view-only .options-overlay {
  display: none;
}
.editor .options-overlay {
  display: flex;
  background-color: #444;
  max-width: 300px;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 5px;
  pointer-events: all;
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button.embed-options-button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.editor button.embed-options-button:hover,
.editor button.embed-options-button:focus {
  background: transparent;
}

.editor button.embed-options-button:focus {
  outline: none;
}

.editor button.embed-options-button:active {
  transform: scale(0.99);
}
.editor .embed-options-button {
  height: 20px;
  width: 20px;
  margin: 0px 3px;
}
.editor .embed-options-button img {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(91%)
    contrast(94%);
}
.editor .embed-options-button:hover img {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(126deg)
    brightness(105%) contrast(105%);
}
.editor .embed-options-button.active img {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(126deg)
    brightness(105%) contrast(105%);
}
.editor .embed-options-button.active .ql-fill {
  fill: white;
}
.editor .embed-options-button:hover {
  cursor: pointer;
}
.editor .embed-options-button > img {
  height: 20px;
  width: 20px;
}
.editor.view-only .spoilers .embed-overlay::after,
.editor.view-only .embed-overlay.spoilers::after {
  opacity: 1;
}
.editor.view-only .spoilers .embed-overlay,
.editor.view-only .embed-overlay.spoilers {
  pointer-events: all;
}
.editor.view-only .spoilers .embed-overlay:hover,
.editor.view-only .embed-overlay.spoilers:hover {
  cursor: pointer;
}
.editor .spoilers .embed-overlay::after,
.editor .embed-overlay.spoilers::after {
  content: "";
  background-image: url(https://firebasestorage.googleapis.com/v0/b/bobaboard-fb.appspot.com/o/images%2Fadmin%2Fspoilers.png?alt=media&token=a343aee0-e90f-4379-8d41-1cac1f65f7ee);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: 3;
}
.editor.view-only img.spoilers {
  visibility: hidden;
}
.editor.view-only .spoilers > img {
  visibility: hidden;
}
.editor.view-only .show-spoilers img.spoilers {
  visibility: visible;
}
.editor.view-only .spoilers.show-spoilers img {
  visibility: visible;
}
.editor .spoilers.show-spoilers .embed-overlay::after,
.editor .show-spoilers .embed-overlay.spoilers::after {
  visibility: hidden;
}
.editor .spoilers.show-spoilers .embed-overlay,
.editor .show-spoilers .embed-overlay.spoilers {
  display: none;
}
.editor .spoilers img:hover {
  cursor: pointer;
}
.editor .ql-oembed-embed {
  white-space: normal;
}
.editor .ql-oembed-embed .embed-node.loading {
  visibility: hidden;
}
.editor .ql-oembed-embed .loading-message,
.editor .ql-tumblr-embed .loading-message {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  text-align: center;
  line-height: 50px;
  color: white;
  position: relative;
}
.editor .ql-oembed-embed .loading-message a,
.editor .ql-tumblr-embed .loading-message a,
.editor .tweet .loading-message a {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.editor .ql-oembed-embed.best-effort {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
}
.editor .ql-oembed-embed.best-effort img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.editor .ql-oembed-embed.best-effort .container.with-icon {
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 20px;
}
.editor .ql-oembed-embed.best-effort h1 {
  font-size: 25px;
  text-decoration: underline;
}
.editor .ql-oembed-embed.best-effort h1,
.editor .ql-oembed-embed.best-effort p {
  color: black;
}
.editor .ql-oembed-embed.best-effort a {
  display: block;
  text-decoration: none;
}
.editor .reddit-card a {
  color: black !important;
}
