.editor .tweet .loading-message {
  width: 100%;
  min-height: 50px;
  background-color: #1da1f2;
  text-align: center;
  line-height: 50px;
  color: white;
  position: relative;
}
.editor .twitter-tweet-rendered {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: black;
}

.editor .ql-tweet[data-rendered="true"] .loading-message {
  display: none;
}

.editor .ql-tweet[data-rendered="false"] .twitter-tweet {
  position: absolute;
  left: -10000px;
}
